Source: mingw-w64-xz
Priority: optional
Maintainer: Tobias Schlemmer <keinstein@users.berlios.de>
Build-Depends: debhelper (>= 9), autotools-dev,
	       gcc-mingw-w64, g++-mingw-w64
Standards-Version: 4.1.1
Section: libs
Homepage: http://tukaani.org/xz
#Vcs-Git: https://anonscm.debian.org/collab-maint/mingw-w64-xz.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/mingw-w64-xz.git

Package: xz-mingw-w64-dev
Section: libdevel
Architecture: any
Depends: mingw-w64-xzBROKEN (= ${binary:Version}), ${misc:Depends}
Description: Library and command line tools for XZ and LZMA compressed files (mingw-w64, development files)
 This Package contains the development files: headers and libraries.

Package: xz1-mingw-w64
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library and command line tools for XZ and LZMA compressed files (mingw-w64,runtime)
 This Package contains the runtime DLLs.

